figure {
  position: relative;
  max-width: 33%;
  margin: 0 auto 1em auto;
}
figure img {
  max-height: 100%;
  width: 100%;
  opacity: 0.5;
  transition: all .2s 0.1s ease-in;
}
figure img:first-of-type, figure img:last-of-type {
  position: absolute;
  top: 0; left: 0;
}
figure.open, figure:hover, figure:target {
  max-width: 33%;
}
figure.open img, figure:hover img, figure:target img {
  opacity: 1;
  -webkit-transform: translate3d(-100%, 0, 0);
}
figure.open img + img, figure:hover img + img, figure:target img + img {
  -webkit-transform: translate3d(0, 0, 0);
}
figure.open img + img + img, figure:hover img + img + img, figure:target img + img + img {
  -webkit-transform: translate3d(100%, 0, 0);
}

figcaption { -webkit-transform: translateY(-26rem); transition: all .2s ease-in; }
figure h1 {
  position: absolute;
  margin-left: 11%;
  font-size: 3vw;
  opacity: 0.5;
  line-height: 1em;
  z-index: 1;
  transition: background-color 0s .2s ease-out;
}
figure.open h1, figure:hover h1, figure:target h1 { background-color: white; }
figcaption blockquote { opacity: 0; }
figure.open h1, figure:hover h1, figure:target h1, figure.open figcaption *, figure:hover figcaption *, figure:target figcaption * { opacity: 1; }
figure.open figcaption, figure:hover figcaption, figure:target figcaption { -webkit-transform: translateY(0); }

header {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto 2em auto;
  padding-bottom: 2em;
  background: rgb(200, 200, 200)
}
header video { width: 100%; min-height: 13%; }

/* nav { max-width: 40em; margin: 0 auto; } */
nav ul { list-style: none; text-align: center; }
nav ul li { display: inline; }
nav ul li a { padding: 0.5em 1em; transition: background .2s ease-in, text-decoration .2s ease-in; }
nav ul li:hover a { background: white; text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  font-family: myriad-pro, "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-weight: 500;
  color: #000;
}
body {
  font-family: garamond-premier-pro, "garamond-premier-pro", Garamond, Baskerville, Palatino, "Palatino Linotype", "Hoefler Text", "Times New Roman", serif;
  font-weight: 300;
  color: #444;
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  margin-bottom: 0;
  line-height: 1.5em;
  margin: 0;
}
header section {
  max-width: 40em;
  margin: 0 auto;
}

a {
  color: #1788a3;
}
