figure {
  position: relative;
  max-width: 33%;
  margin: 0 auto 1em auto;
}
figure img {
  max-height: 100%;
  width: 100%;
  opacity: 0.5;
  transition: all .2s ease-in;
}
figure img:first-of-type, figure img:last-of-type {
  position: absolute;
  top: 0; left: 0;
}
figure img:first-of-type {
  z-index: 3;
}
figure img:last-of-type { z-index: 2; }
figure.open, figure:hover, figure:target {
  max-width: 33%;
}
figure.open img, figure:hover img, figure:target img {
  opacity: 1;
  transform: translate3d(-100%, 0, 0);
}
figure.open img + img, figure:hover img + img, figure:target img + img {
  transform: translate3d(0, 0, 0);
}
figure.open img + img + img, figure:hover img + img + img, figure:target img + img + img {
  transform: translate3d(100%, 0, 0);
}
figcaption .credit, figcaption .credit, figcaption .credit {
  opacity: 0.5;
  text-align: center;
}
figure.open figcaption .credit, figure:hover figcaption .credit, figure:target figcaption .credit {
  opacity: 1;
}

figcaption { -webkit-transform: translateY(-26rem); transition: all .2s ease-in; }
figure h1 {
  position: absolute;
  margin-left: 11%;
  font-size: 3vw;
  opacity: 0.5;
  line-height: 1em;
  z-index: 1;
  transition: background-color 0s ease-out;
}
figure.open h1, figure:hover h1, figure:target h1 { background-color: white; }
figcaption blockquote { opacity: 0; }
figure.open h1, figure:hover h1, figure:target h1, figure.open figcaption *, figure:hover figcaption *, figure:target figcaption * { opacity: 1; }
figure.open figcaption, figure:hover figcaption, figure:target figcaption { -webkit-transform: translateY(0); }

header {
  width: 100%;
  margin: 0 auto 2em auto;
  padding-bottom: 2em;
  max-width: 1280px;
}
header video { width: 100%; min-height: 13%; margin-top: 47px; }
header:before {
  position: absolute;
  top: 0; left: 0;
  display: block;
  width: 100%;
  height: 47px;
  background: url(img/logo-header.jpg) repeat-x;
  content: " ";
}

/* nav { max-width: 40em; margin: 0 auto; } */
nav ul { list-style: none; text-align: center; }
nav ul li { display: inline; }
nav ul li a { padding: 0.5em 1em; transition: background .2s ease-in, text-decoration .2s ease-in; }
nav ul li:hover a { background: white; text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  font-family: myriad-pro, "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-weight: 500;
  color: #000;
}
body {
  font-family: garamond-premier-pro, "garamond-premier-pro", Garamond, Baskerville, Palatino, "Palatino Linotype", "Hoefler Text", "Times New Roman", serif;
  font-weight: 300;
  color: #444;
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  margin-bottom: 0;
  line-height: 1.5em;
  margin: 0;
}
header section {
  max-width: 40em;
  margin: 0 auto;
}

a {
  color: #1788a3;
}

/*
 * fix html5 elements in firefox 3 and IE
 * https://github.com/necolas/normalize.css
 */
article, aside, details, figcaption, figure, footer, header,
hgroup, nav, section, summary { display: block; }

/*
 * Corrects `inline-block` display not defined in IE 8/9.
 */

audio, canvas, video { display: inline-block; }

/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) { display: none; height: 0; }

/*
 * Addresses styling for `hidden` attribute not present in IE 8/9.
 */

[hidden] { display: none; }
