figure {
  position: relative;
  max-width: 33%;
  margin: 0 auto 1em auto;
}
figure img {
  max-height: 100%;
  width: 100%;
  opacity: 0.5;
  transition: all .2s 0.1s linear;
}
figure img:first-of-type, figure img:last-of-type {
  position: absolute;
  top: 0; left: 0;
}
figure:hover, figure:target {
  max-width: 33%;
}
figure:hover img, figure:target img {
  opacity: 1;
  margin-left: -100%;
}
figure:hover img + img, figure:target img + img {
  margin-left: 0%;
}
figure:hover img + img + img, figure:target img + img + img {
  margin-left: 100%;
}

figcaption { -webkit-transform: translateY(-20em); transition: all .2s linear; }
figcaption h1 { text-align: center; opacity: 0.5; }
figcaption blockquote { opacity: 0; }
figure:hover figcaption * { opacity: 1; }
figure:hover figcaption { -webkit-transform: translateY(0); }

