<header>
  <video controls preload allowfullscreen poster="vid/poster.jpg">
    <source src="//maep.s3.amazonaws.com/2013/verbatim/brewer.ogv" type="video/ogg">
    <source src="//maep.s3.amazonaws.com/2013/verbatim/brewer.webm" type="video/webm">
    <source src="vid/brewer.ipad.mp4" type="video/mp4">
    <source src="//maep.s3.amazonaws.com/2013/verbatim/brewer-1920.mp4" type="video/mp4" media="all and (min-width: 1280px)">
  </video>

  <section id="description">
    <p>In the months leading up to the opening of his MAEP exhibition &ldquo;Verbatim,&rdquo; St. Paul artist Allen Brewer collected short written descriptions of artwork by MIA visitors. Paying close attention to the words in each description, he took them back to his studio to inspire new paintings, drawings, and sculptures. The number of works in the gallery will increase during the show, as he adds new works of art every two weeks. &ldquo;Verbatim&rdquo; proves to be a fascinating study of the differences between seeing and writing, and an exploration of the limits of language as they relate to describing art objects and museum experiences.</p>
    <p>Allen Brewer still needs your help! Even though &ldquo;Verbatim&rdquo; is installed he is asking visitors to continue to describe their works of art in the MIA&rsquo;s collection. You'll find blank forms throughout the museum on which you can write about your favorite sculpture, painting, drawing, or photograph. MIA fans can e-mail their descriptions directly to <a href="mailto:verbatim.brewer@gmail.com">verbatim.brewer@gmail.com</a>, or download the form: <a href="http://artsmia.org/UserFiles/File/userfiles/exhibitions/2013/verbatim-form.pdf">Allen Brewer Verbatim Form</a>.</p>
  </section>

  <nav><ul>
    {% for work in site.posts %}
    <li><a href="#{{work.title}}">{{work.title}}</a></li>
    {% endfor %}
  </ul></nav>
</header>
