---
---
<!DOCTYPE html>
<html>
<head>
  <!-- <title>Site Title {% if page.url != '/index.html' %}| {{page.title}}{% endif %}</title> -->
  <meta charset='UTF-8'/>
  <link rel='shortcut icon' href='{{site.baseurl}}/img/favicon.ico' type='image/x-icon' />
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <title>MAEP: Verbatim, Allen Brewer | Minneapolis Institute of Arts</title>
  <link href='verbatim.css' rel='stylesheet' />
</head>
<body>
  {{content}}
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
  <script type="text/javascript" src="//use.typekit.com/wee4nhh.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/hammer.js/1.0.3/hammer.min.js"></script>
  <script src='{{site.baseurl}}/verbatim.js'></script>
</body>

